@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.promo {
  background-color: rgb(191, 248, 255);
  height: 600px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Open Sans", Arial;
  padding: 0 120px;
  border-radius: 30px;
  color: rgb(60, 64, 67);
}

.promo-end-date {
  font-weight: 600;
  margin-bottom: 10px;
}

.promo-header {
  font-weight: 650;
  font-size: 40px;
  width: 500px;
  margin-bottom: 15px;
  line-height: 48px;
}

.promo-desc {
  width: 500px;
}